body{
    background: url("../assets/nami/nami.png ");
    margin: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: content-box;

}
.online{
    font-size: 4vw;
    letter-spacing: 3vw;
    display: block;
}
.border_top_bottom{
    position: absolute;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-shadow: 0 0 10px #fff, 0 0 70px #228DFF;
}
.border_right_left{
    width: 80vw;
    height: 100vh;
    box-shadow: 0 0 10px #fff, 0 0 150px #228DFF;
}
.modal.in .modal-dialog {
    -webkit-transform: translate(0,54%);
    -ms-transform: translate(0,54%);
    -o-transform: translate(0,54%);
    transform: translate(0,54%);
}
.modal-content {
    position: relative;
    background-color: rgba(0,0,0,.9);
    border: 1px solid white;
    box-shadow: 0 0 10px #fff, 0 0 150px #228DFF;
    background: url("../assets/nami/nami.png ");
}
.button-box{
    margin: 0px auto;
    margin-top: 30px;
    margin-bottom: 10px;
    width: 136px;
}
.page_title_div{
    color: #fff;
    margin-bottom: 4vh;
    font-size: 10vw;
    text-align: center;
    text-shadow: 0 0 1px #fff, 0 0 2px #fff, 0 0 14px #FFDD1B, 0 0 30px #FFDD1B;
    font-family: "Bungee Shade";
}
.modal_title{
    text-shadow: 0 0 1px #fff, 0 0 2px #fff, 0 0 14px #FFDD1B, 0 0 30px #FFDD1B;
    font-family: "Bungee Shade";
    text-align: center;
    color: #fff;   
    font-size: 50px;
}
#input_span{
    width: 65vw;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Bungee Shade";
}
.all_buttons:hover{
    color: white;
    background-color: rgba(255,255,255, .8);
}
.all_buttons{
    background-color: rgba(0, 0, 0, .2);
    box-shadow: 0 0 1px #fff, 0 0 2px #fff, 0 0 14px #FFDD1B, 0 0 30px #FFDD1B;
    color: white;
    text-shadow: 0 0 5px black, 0 0 20px #FFDD1B;
    font-size: 20px;
    font-family: "Bungee Shade";
    border: 1px solid white;
    text-shadow: 0 0 1px #fff, 0 0 2px #fff, 0 0 14px #FFDD1B, 0 0 30px #FFDD1B;
}
input#input_form {
    background: transparent;
    background-color: rgba(0, 0, 0, .2);
    box-shadow: 0 0 1px #fff, 0 0 2px #fff, 0 0 14px #FFDD1B, 0 0 0 #FFDD1B;
    color: white;
    text-shadow: 0 0 5px black, 0 0 20px #FFDD1B;
    font-size: 2vw;
    height: 48px;
}
.input-group-addon {
    padding: 6px 12px;
    font-size: 14px;
    font-weight: 400;
    line-height: 1;
    color: black;
    text-align: center;
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: 0 0 1px #fff, 0 0 2px #fff, 0 0 14px #FFDD1B, 0 0 30px #FFDD1B;
}
#return_to_home{
    box-sizing: content-box;
    width: 50vw;
}
.glyphicon glyphicon-camera{
    margin-top: 2px;
    padding: 4px;
    border: 2px;
    border-radius: 5px;
    color: white;
    box-shadow: 0 0 1px #fff, 0 0 2px #fff, 0 0 0 #FFDD1B, 0 0 30px #FFDD1B;
}
#videoModal{

}
#video_modal_body{
    float: left;
    position: absolute;
    height: 95vh;
    width: 95vw;
}
#video_display{
    width: 50vw;
    height: 50vw;
    background-color: blue;
}

#artist_modal_body{
    color: white;
}
iframe{
    height: 100%;
    width: 100%;
}


.particle{
    background-image: url(../assets/fish.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    opacity: .5;
}

